#id-fullscreen{
    position: relative;
}

#id-fullscreen .fa{
  padding-left: 22px;
  padding-top: 5px;
}
.btn-fullscreen{
    position: absolute;
    top: 0;
    width: 100%;
    background: none;
}
.btn-fullscreen:hover{
    background: none;
}
.btn-fullscreen button{
    width: 100%;
    color: #333;
    background: none;
    text-indent: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: Quattrocento Sans!important;
}

.btn-fullscreen button:hover, .btn-fullscreen button::selection{
    background-color: transparent;
    color: #262626;
}