@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);
#map           { width:100%; height:100%; margin:0; }
#toolbox       { position:absolute; top:98px; right:18px; padding:3px; border-radius:4px; color:#fff; background: rgba(255, 255, 255, 0.4); z-index:100; }
#layerswitcher { margin:0; padding:10px; border-radius:4px; background:rgba(0, 60, 136, 0.5); list-style-type:none; }

.indrz-logo {
  position: absolute; /* or absolute */
  bottom: 2%;
  left: 50%;
    z-index: 1001;

    /*width: 90px;*/
    /*height: auto;*/
        /*127px x 63px*/
}


html, body, #map {
height: 100%;
overflow: hidden;
}
.olImageLoadError { display: none; }

body {
  padding-top: 60px;
}
.map {
  height: 100%;
  width: 100%;

}

.ol-attribution {
  max-width: calc(100% - 3em);
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}

#tags {
  display: none;
}

body, h1, h2, h3, h4, p, li, td, th {
  font-family: Quattrocento Sans;
}
.navbar-inverse .navbar-inner {
  background: #1F6B75;
}
.navbar-inverse .brand {
  color: white;
  padding: 5px;
}

.bs-example{
	font-family: sans-serif;
	position: relative;
	margin: 100px;
}

.tt-suggestion {
	font-size: 24px;
	line-height: 24px;
	padding: 3px 20px;
    background-color: #FFFFFF;
}
.tt-suggestion.tt-is-under-cursor {
	background-color: #0097CF;
	color: #FFFFFF;
}
.tt-suggestion p {
	margin: 0;
}

.floor-changer-float{
    position: absolute;
    top: 5%;
    right: 3%;
    z-index: 1001;
}
