PROJECT_NAME=indrz
ENV_TYPE=local
TIMEZONE=Europe/Vienna
SSL_CERTIFICATES_PATH=
WEB_FOLDER=

########## django database connect ############
PG_DB=indrz
PG_USER=indrz
PG_PASS=ChangeMePlease1-big-password
PG_HOST=indrz_db
PG_PORT=5432

######## docker database config ###############
POSTGRES_DB=indrz
POSTGRES_USER=indrz
POSTGRES_PASS=ChangeMePlease1-big-password
POSTGRES_HOST=indrz_db
POSTGRES_PORT=5432
POSTGRES_EXT_PORT=5432
ALLOW_IP_RANGE=0.0.0.0/0

SCHEMA_NAME=django,geodata,bookway,dxf_tables,pre_django
POSTGRES_MULTIPLE_EXTENSIONS=postgis,hstore,postgis_topology,postgis_raster,pgrouting
########## geoserver #######################
GEOSERVER_DATA_DIR=/opt/geoserver/data_dir
ENABLE_JSONP=true
MAX_FILTER_RULES=20
OPTIMIZE_LINE_WIDTH=false
FOOTPRINTS_DATA_DIR=/opt/footprints_dir
GEOWEBCACHE_CACHE_DIR=/opt/geoserver/data_dir/gwc
GEOSERVER_ADMIN_USER=mygeoserveradmin
GEOSERVER_ADMIN_PASSWORD=a-geoserver-1-passworD
INITIAL_MEMORY=2G > GEOSERVER_INITIAL_MEMORY=2G
MAXIMUM_MEMORY=4G > GEOSERVER_MAXIMUM_MEMORY=4G
HOST=indrz_db

########## django #######################
SECRET_KEY='mybigsecretkey-generate-one-and-put-it-here'
DEBUG=False
STATIC_URL=/static/
STATIC_ROOT=/opt/data/static
STATIC_FOLDER=/staticfiles
MEDIA_URL=/media/
MEDIA_ROOT=/opt/data/media
ALLOWED_HOSTS="localhost localhost:8000 127.0.0.1 0.0.0.0 indrz_api:8000"
SENTRY_URL=''
LOGFILE_DIR=/app/logs
SWAGGER_URL='http://localhost:8000/'

DXF_ROOT_PATH_DOCKER=/opt/data/media/
DXF_ROOT_PATH=/opt/data/dwg
DXF_IMPORT_LOG_PATH=/opt/data/logs
DXF_FILES_PATH=/opt/data/dwg

PROD=1

DJANGO_SUPERUSER_USERNAME=demo
DJANGO_SUPERUSER_PASSWORD=changemePlease1-big-password
DJANGO_SUPERUSER_EMAIL=mymail@example.com

###############  SSO  ################################

SAML_SP_ID_METADATA_URL="http://127.0.0.1:8000/saml/metadata/"
SAML_SP_ACS="http://127.0.0.1:8000/saml/acs2"
SAML_SP_SINGLELOGOUT="http://127.0.0.1:8000/saml/sls/"
SAML_SP_CONTACT_NAME="yourname"
SAML_SP_CONTACT_EMAIL="office@example.com"

SAML_IDP_URL="http://127.0.0.1:8000/saml/metadata/"

# test okta
SAML_IDP_ENTITY_ID="http://www.okta.com/yourkeyhere"
SAML_IDP_SIGNON_URL="https://someoktaurlforyou/sso/saml"
SAML_IDP_X509cert="yourcerthere"

SAML_REDIRECT_AFTER_LOGIN="http://127.0.0.1:3000/admin"
SAML_DEST_HOST="127.0.0.1"
SAML_DEST_PORT="8000"

