.git
.idea/
.env
*.env
.venv
.vscode/
.venv/*
*.cache
/.cache/

*.coverage

frontend/dist/
indrz.egg-info/
*.iml
frontend/src/.env
frontend/.nuxt
frontend/docs/node_modules
frontend/src/node_modules
node_modules
frontend/src/.output

*.pyc

backend/data/**
!backend/data/.gitignore
!backend/data/**/.gitkeep
backend/indrz/logs/
backend/indrz/homepage/scripts/roomlog.log
backend/indrz/htmlcov/
backend/scripts/geoserver/roomlog.log
backend/indrz/media/
backend/indrz/static/
backend/indrz/settings/.env
backend/indrz/.env

*.backup
