# Created by .ignore support plugin (hsz.mobi)
### JetBrains template

*.iml
indrz/settings/.env
indrz/.env
.env
/devops/docker-env/db.env
/devops/docker-env/db-backups.env
/devops/docker-env/geoserver.env

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

indrz/logs

*.pyc
.pytest_cache
/indrz/logs/
/indrz/htmlcov/

/.cache/

*.cache
*.coverage
/scripts/geoserver/roomlog.log
