# Created by .ignore support plugin (hsz.mobi)
### JetBrains template

*.iml
indrz/settings/.env

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

indrz/logs

*.pyc



/indrz/logs/

/indrz/settings/secret_settings.py
/indrz/indrz/client_secret.json

/indrz/homepage/scripts/roomlog.log


/indrz/htmlcov/

/.cache/

*.cache
*.coverage
/indrz/homepage/scripts/geoserver/roomlog.log
