{% load staticfiles %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>

    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
        <meta name="description" content="indrz indoor map">
        <meta name="author" content="GOMOGI platform indrz.com">
    {% endblock %}

    <title>
        {% block title %}Default Title{% endblock %}
    </title>

{% block css_extra %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{% static "vendors/bootstrap_v3.3.4/bootstrap.min.css" %}" type="text/css">

        {% compress css %}
        <link rel="stylesheet" href="{% static "vendors/v5.2.0-dist/ol.css" %}" type="text/css">

        <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}img/favicon.ico"/>
        <link rel="stylesheet" href="{% static "homepage/css/map_poi.main.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "homepage/css/aau-indrz-style.css" %}" type="text/css">
        <link rel="stylesheet" href="{% static "homepage/css/font-awesome.min.css" %}">

            <link rel="stylesheet" href="{% static "homepage/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css" %}">

{#            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">#}


        {% endcompress %}

    {% endblock %}

    {% block js-header %}

        {% compress js %}

{#        <script src="{% static 'homepage/fontawesome-free-5.0.8/svg-with-js/js/fontawesome-all.js' %}" type="text/javascript"></script>#}

        <script src="{% url 'javascript-catalog' %}" type="text/javascript"></script>
        <script src="{% static "js/jquery-1.11.2.min.js" %}" type="text/javascript"></script>
        <script src="{% static "vendors/bootstrap_v3.3.4/bootstrap.min.js" %}" type="text/javascript"></script>
        <script src="{% static "vendors/v5.2.0-dist/ol.js" %}" type="text/javascript"></script>
        <script src="{% static "js/canvas-to-blob.min.js" %}" type="text/javascript"></script>
        <script src="{% static "vendors/bootstrap_v3.3.4/bootstrap-treeview.min.js" %}" type="application/javascript"></script>
        {% endcompress %}



    {% endblock %}


    {% block head_extra %}{% endblock %}

</head>

<body>


    {% block nav-top %}{% endblock %}
    {% block indrz-content %}{% endblock %}
    <main>

        <div id="indrz-main-container" class="container-fluid">

            <div class="row">

                 {% block side_col %}{% endblock %}
                 {% block main_col %}{% endblock %}
            </div>

        </div>
    </main>

    {% block modal-popups %}
        {% include 'modal-bugreport.html' %}
        {% include 'modal-share.html' %}
        
    {% endblock modal-popups %}




    {% block popup-markup %} {% include 'popup-markup.html' %} {% endblock popup-markup %}
    
    {% block js-conf %}{% endblock js-conf %}
    {% block route_from_to %}{% endblock route_from_to %}
    {% block map_frame %}{% endblock map_frame %}
    {% block js-autocomplete %}{% endblock js-autocomplete %}
    {% block route_options %}{% endblock route_options %}

    {% block footer %}{% endblock %}
    {% block js-bottom %}{% endblock %}




</body>
</html>