{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}

    <div id="indrz-main-container" class="container-fluid">

        <div class="row">

            {% block side_col %}{% endblock %}
            {% block main_col %}{% endblock %}

        </div>

    </div>


    {% block popup-markup %} {% include 'popup-markup.html' %} {% endblock popup-markup %}
    {% block js-search-box %}{% endblock js-search-box %}
    {% block route_from_to %}{% endblock route_from_to %}
    {% block map_frame %}{% endblock map_frame %}
    {% block js-autocomplete %}{% endblock js-autocomplete %}
    {% block route_options %}{% endblock route_options %}
    {% block footer %}{% endblock footer %}

    <script>

        $(".nav a").on("click", function () {
            $(".nav").find(".active").removeClass("active");
            $(this).parent().addClass("active");
        });

        $(function () {
            $("#floor-links-select").on('change', function () {
                activateLayer($(this).val());
            });
        });

    </script>


        {% block js-extras %}{% endblock js-extras %}

{% endblock %}