{% load i18n %}
{% load staticfiles %}

    <div id="campusLocations" class="list-group" >
        <ul class="list-group" style="border-bottom: 1px">

            {% for campus in campusLocations %}
                <li id="campusid-{{ campus.id }}" onclick="zoomToCampusLocation('{{ campus.id}}')" class="list-group-item list-group-item-action">{{ campus.campus_name }}</li>

            {% endfor %}

{#          <li id="campus1" onclick="zoomToCampusLocation('campus1')" class="list-group-item">Universität Klagenfurt Main</li>#}
{#          <li id="campus2" onclick="zoomToCampusLocation('campus2')"class="list-group-item">Robert-Musil-Gebäude</li>#}
{#          <li id="campus3" onclick="zoomToCampusLocation('campus3')"class="list-group-item">IFF-Klagenfurt Sterneckstraße 15</li>#}
{#          <li id="campus4" onclick="zoomToCampusLocation('campus4')"class="list-group-item">IFF-Graz Kopernikusgasse 9</li>#}
{#          <li id="campus5" onclick="zoomToCampusLocation('campus5')"class="list-group-item">IFF-Graz Schlogelgasse 9</li>#}
{#          <li id="campus6" onclick="zoomToCampusLocation('campus6')"class="list-group-item">IFF-Wien Schottenfeldgasse 29</li>#}

        </ul>
    </div>