<!DOCTYPE html>
<html>
  <head>
    <title>Tiled WMS</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.3.1/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.3.1/build/ol.js"></script>
  </head>
  <body>
    <div id="map" class="map"></div>
    <script>
          var url = baseUrl+'?'
          for (var param in params) {
            if (baseParams.indexOf(param.toUpperCase()) < 0) {
              url = url + param + '=' + params[param] + '&';
            }
          }
          url = url.slice(0, -1);
//http://gis-neu.wu.ac.at:8080/geoserver2112/gwc/service/wmts?layer=indrz%3Ae06&style&tilematrixset=EPSG%3A900913&Service=WMTS&Request=GetTile&Version=1.0.0&Format=image%2Fpng&TileMatrix=EPSG%3A900913%3A18&TileCol=143019&TileRow=90892

        var style = '';
        var baseUrl = '../service/wmts';

        //var gridsetName = 'EPSG:900913';
        //var gridNames = ['EPSG:900913:0', 'EPSG:900913:1', 'EPSG:900913:2', 'EPSG:900913:3', 'EPSG:900913:4', 'EPSG:900913:5', 'EPSG:900913:6', 'EPSG:900913:7', 'EPSG:900913:8', 'EPSG:900913:9', 'EPSG:900913:10', 'EPSG:900913:11', 'EPSG:900913:12', 'EPSG:900913:13', 'EPSG:900913:14', 'EPSG:900913:15', 'EPSG:900913:16', 'EPSG:900913:17', 'EPSG:900913:18', 'EPSG:900913:19', 'EPSG:900913:20', 'EPSG:900913:21', 'EPSG:900913:22', 'EPSG:900913:23', 'EPSG:900913:24', 'EPSG:900913:25', 'EPSG:900913:26', 'EPSG:900913:27', 'EPSG:900913:28', 'EPSG:900913:29', 'EPSG:900913:30'];

var gridsetName = 'EPSG:3857';
var gridNames = ['epsg3857:10', 'epsg3857:11', 'epsg3857:12', 'epsg3857:13', 'epsg3857:14', 'epsg3857:15', 'epsg3857:16', 'epsg3857:17', 'epsg3857:18', 'epsg3857:19', 'epsg3857:20', 'epsg3857:21', 'epsg3857:22', 'epsg3857:23'];


        var format = 'image/png';
        var infoFormat = 'text/html';
        var projection = new ol.proj.Projection({
            code: 'EPSG:900913',
            units: 'm',
            axisOrientation: 'neu'
            });


        var resolutions = [152.87405654907226, 76.43702827453613, 38.218514137268066, 19.109257068634033, 9.554628534317017, 4.777314267158508, 2.388657133579254, 1.194328566789627, 0.5971642833948135, 0.2985821416974068, 0.1492910708487034, 0.0746455354243517, 0.0373227677121758, 0.0186613838560879];
         baseParams = ['VERSION','LAYER','STYLE','TILEMATRIX','TILEMATRIXSET','SERVICE','FORMAT'];
        var params = {
          'VERSION': '1.0.0',
          'LAYER': "indrz:e01",
          'STYLE': style,
          'TILEMATRIX': gridNames,
          'TILEMATRIXSET': gridsetName,
          'SERVICE': 'WMTS',
          'FORMAT': format
        };
        var source = new ol.source.WMTS({
            url: "http://gis-neu.wu.ac.at:8080/geoserver2112/gwc/service/wmts",
            layer: params['LAYER'],
            matrixSet: params['TILEMATRIXSET'],
            format: params['FORMAT'],
            projection: projection,
            tileGrid: new ol.tilegrid.WMTS({
              tileSize: [256,256],
              extent: [-2.003750834E7,-2.003750834E7,2.003750834E7,2.003750834E7],
              origin: [-2.003750834E7, 2.003750834E7],
              resolutions: resolutions,
              matrixIds: params['TILEMATRIX']
            }),
            style: params['STYLE'],
            wrapX: true
          });

        var layer = new ol.layer.Tile({
              source: source,
            zIndex:3
            });

        xStart = 1826602.5273166203;
        yStart = 6142514.2285252055;

        var view = new ol.View({
                center: [xStart, yStart],
                zoom: 17,
          projection: projection,
          extent: [-20037508.34,-20037508.34,20037508.34,20037508.34]
        });

      var layers = [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
            zIndex:1
        }),
        layer

      ];





        var map = new ol.Map({
        layers: layers,
        target: 'map',
        view: view,
            projection: 'EPSG:3857'
      });

        map.getView().fit([1826194.65627439,6142248.782983399,1826870.23284983,6142846.298063919], map.getSize());

    </script>
  </body>
</html>