{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}WU Campus Hilfe{% endblock %}

{% block head_extra %}


    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">#}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">#}



    <link rel="stylesheet" href="{% static "homepage/wu-neu/font-awesome.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "homepage/css/app.min.css" %}" type="text/css" media="all">
        <link rel="stylesheet" href="{% static "homepage/wu-neu/css.css" %}" type="text/css">
    <script type="text/javascript" src="{% static "homepage/wu-neu/app.min.js" %}"></script>

    <style> body {
        padding-top: 0px;
    }</style>


{% endblock head_extra %}

{% block nav-top %}

<header id="top">

    <nav class="nav-meta">
        <div class="container-fluid">
        <div class="nav-left">
            <ul>
                <li class="logo-container"><a href="http://campus.wu.ac.at/">
                    <img id="wulogo" src="{% static "homepage/wu-neu/sitelogo-md.png" %}" class="logo" alt=""></a></li>
                <!--li class="brandname slideout"><a>CAMPUS</a></li-->
                <li class="" ><a href="{% url "map_home" %}">{% trans "Map" %}</a></li>
                <li class="active" style="background: #009bb8;" ><a href="{% url "help" %}">{% trans "Help" %}</a></li>
            </ul>
        </div>

        <div class="nav-right">

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info for "en" as lang_en %}
            {% get_language_info for "de" as lang_de %}


            <ul>


            <li style="text-align: center; ">
                <form name="setLang{{ lang.1}}" action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="/" />
                    <input type="hidden" name="language" value="{% if LANGUAGE_CODE == "en" %}de{% else %}en{% endif %}" />
                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{% if LANGUAGE_CODE == "en" %}{{ lang_de.name_local }}{% else %}{{ lang_en.name_local }}{% endif %}</a>
                </form>
            </li>


{#                <li class="dropdown user user-menu">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <i class="fa fa-language"></i>#}
{#                        <span> {{ LANGUAGE_CODE }} <i class="caret"></i></span>#}
{#                    </a>#}
{##}
{#                    <ul class="dropdown-menu " style="background: #0e0e0e;">#}
{#                        {% for lang in LANGUAGES %}#}
{#                            <li style="text-align: center; ">#}
{#                                <form name="setLang{{ lang.1}}" action="{% url 'set_language' %}" method="POST">#}
{#                                    {% csrf_token %}#}
{#                                    <input name="next" type="hidden" value="/" />#}
{#                                    <input type="hidden" name="language" value="{{ lang.0 }}" />#}
{#                                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>#}
{#                                </form>#}
{#                            </li>#}
{#                        {% endfor %}#}
{##}
{##}
{#                    </ul>#}
{#                </li>#}

                <li class="slideout" id="quicklinksLink"><a>{% trans "Quicklinks" %} <i class="fa fa-plus wu-blue"></i></a></li>
            </ul>
        </div>
            </div>
    </nav>
</header>

<!--
  Navigation end
-->

<!--
  Quicklinks start
-->
<div id="quicklinks-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 tiles">
                <ul class="row">
                    <li class="col-md-6">
                        <a href="http://learn.wu.ac.at/">
                            <h5>Learn@WU</h5>
                            <ul>
                                <li>Lernmaterialien</li>
                                <li>Tools für den Unterricht</li>
                                <li>Termine, Fristen &amp; Aufgaben</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://bach.wu.ac.at/z/stud/acl_users/cookie/login_form?came_from=https%3A//bach.wu.ac.at/z/stud/digidoc/">
                            <h5>Online-Services für Studierende</h5>
                            <ul>
                                <li>Download von digitalen Dokumenten</li>
                                <li>Rückmeldung</li>
                                <li>Änderung persönlicher Daten</li>
                                <li>Student Rankings</li>
                                <li>uvm.</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://https//lpis.wu.ac.at/lpis">
                            <h5>LV- und Prüfungsinfo (LPIS)</h5>
                            <ul>
                                <li>An- und Abmeldung zu LVs und Prüfungen</li>
                                <li>Noteneinsicht</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://controlpanel.wu.ac.at/">
                            <h5>Control Panel</h5>
                            <ul>
                                <li>Maildienste</li>
                                <li>WU Passwort &amp; PIN</li>
                                <li>SMS Service</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://vvz.wu.ac.at/cgi-bin/vvz.pl">
                            <h5>Vorlesungsverzeichnis (VVZ)</h5>
                            <ul>
                                <li>Termine</li>
                                <li>Inhalte der Lehr­ver­an­stal­tungen</li>
                                <li>Beur­tei­lungs­kri­te­rien</li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="quicklinks">
                    <li><a href="https://wu.ac.at/bibliothek/">Bibliothek</a></li>
                    <li><a href="http://campus.wu.ac.at/">Campus Plan</a></li>
                    <li>
                        <a href="https://wu.ac.at/universitaet/organisation/akademische-einheiten/departments-institute/">Institute
                            &amp; Departments</a></li>
                    <li><a href="https://wu.ac.at/studierende/study-service-center/">Study Service Center</a></li>
                    <li><a href="http://bach.wu.ac.at/d/directory/">Telefonverzeichnis</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--
  Quicklinks end
-->






{% endblock nav-top %}



{% block indrz-content %}

    <main>


        <div class="row-fluid" style="padding-left: 20px;">
            <div class="span62 b3k_content" role="main"><!--the span60 box will always have main role-->


                <div class="span6">
                    <h1>Campus Map Hilfe</h1>
                </div>

                <div class="span6">
                    
                    <h2>Karte</h2>
                    <p>Die Karte zeigt Pläne des Campus der Wirtschaftsuniversität Wien. Diese beinhaltet die Gebäude D1
                        bis D5 (Departmentgebäude), TC
                        (Teaching Center), SC (Students Center), AD (Administration), LC
                        (Learning Center), EA (Executive Academy). Als Hintergrundkarte wird eine Karte von basemap.at
                        verwendet. Um auf der Karte zu navigieren, klicken Sie auf die Karte und ziehen Sie die Karte an
                        die
                        gewünschte Position. Um die Karte zu vergrößern oder zu verkleinern, benützen Sie das Scrollrad
                        der
                        Maus oder verwenden die Buttons der Zoomleiste. Eine weitere Möglichkeit, um die Karte zu
                        vergrößern,
                        bietet ein Doppelklick auf die gewünschte Position.</p>
                        
                     <h2>Suche</h2>
                    <img src="{% static "homepage/img/search-help.jpg" %}" alt="search field">
                       <p> Um die Suchfunktion zu verwenden, geben Sie im Suchfeld mindestens drei Zeichen ein. Haben Sie zum Beispiel „Bib“
                        eingegeben, werden in einer Liste automatisch alle Räume aufgelistet, welche mit „Bib“ beginnen.
                        Nachdem Sie ein Ergebnis aus der Liste ausgewählt haben, wird der gewünschte Raum im Kartenfenster markiert.</p>
                        
                    <h2>Routing</h2>
                    <p><img class="span4" src="{% static "homepage/img/routing-help.jpg" %}"
                            alt="routing results"></p>
                            <p>Über die Routingfunktion können Sie einen Start- und einen Endpunkt
                        eingeben und sich den kürzesten Weg berechnen
                        und anzeigen lassen.</p>
                        
                    <p>

                        Zusätzlich zur grafischen Darstellung auf der Karte wird
                        eine Wegbeschreibung mit Angaben zur Wegstrecke angegeben. Sollte sich eine Route über mehrere
                        Stockwerke
                        erstrecken, wird die Route des aktiven Stockwerks dicker dargestellt als der Rest der Route.
                        Befindet
                        man sich beispielsweise im TC.1.02 im ersten Obergeschoss und generiert eine Route zum
                        Haupteingang im
                        Erdgeschoss, so wird die Route von TC.1.02 bis zum Stiegenhaus dicker dargestellt als der Teil
                        vom
                        Stiegenhaus zum Haupteingang. Setzt man das Erdgeschoss als aktives Stockwerk, so ändern sich
                        die
                        Stärken der Linien.</p>


                    <h2>POIs</h2>
                    <img src="{% static "homepage/img/poi-tree-help.jpg" %}" alt="poi tree">
                    <p> „POIs“ - Points of Interest markieren interessante Punkte und Sehenswürdigkeiten am Campus. Im
                        linken Abschnitt neben der Karte sieht man die Hauptkategorien, in welche sich die Points of
                        Interest gliedern. Diese sind:</p>
                    <ul>
                        <li>„Zugang“: beinhaltet alle Informationen, Eingänge und Parkmöglichkeiten (öffentliche
                            Verkehrsmittel, Radparkplatz, Motorradparkplatz)
                        </li>
                        <li>„Lehre“: beinhaltet alle Einrichtungen, Departements und Bibliotheken</li>
                        <li>„Einrichtungen“: beinhaltet Essen und Trinken, Buchhandlung, WC, Sonstiges, Sport</li>
                        <li>„Öffentliche Infrastruktur“: beinhaltet u.a. Garderobe, Kopierer, Umkleideraum, Bankomat
                        </li>
                        <li>"Sicherheit": beinhaltet u.a. Sammelplätze, Ruheräume, Betriebsarzt.</li>

                    </ul>
                    <p>Um ein Symbol ein- bzw. auszuschalten, klicken Sie auf ein Symbol. Wenn Sie eine
                        Kategorie mit Sub-Kategorien auswählen,
                        werden alle darunterliegenden Kategorien aktiviert.</p>


                    <h2>Werkzeugleiste</h2>
                    <img src="{% static "homepage/img/toolbar-help.jpg" %}" alt="map tools in the toolbar">
                    <p>Die Werkzeugleiste, welche über der Karte platziert ist, bietet Ihnen verschiedene Möglichkeiten
                        und
                        Funktionen (folgende Beschreibung der Symbole von links nach rechts):</p>
                    <ul>
                        <li><img src="{% static "homepage/img/zoomhome-help.jpg" %}" alt="zoom to campus"> „Campus
                            anzeigen“: zeigt Ihnen den gesamten Campus im Kartenfenster an
                        </li>
                        <li><img src="{% static "homepage/img/share-map-help.jpg" %}" alt="zoom to vorherigen"> „Karte
                            Teilen“: erzeugt einen Link mit dem aktuellen Kartenausschnitt
                        </li>
                        <li><img src="{% static "homepage/img/download-map-image-help.jpg" %}" alt="zoom nächsten">
                            Karte als PNG Herunterladen
                        </li>
                        <li><img src="{% static "homepage/img/print-help.jpg" %}" alt="drucken"> Karte als PDF
                            Herunterladen
                        </li>
                    </ul>


                   

                    <h2>Stockwerksauswahl</h2>
                    <img src="{% static "homepage/img/floorchanger.jpg" %}" alt="floor changer">
                       <p> Diese Funktion ermöglicht es Ihnen, das gewünschte Stockwerk zu aktivieren und im Kartenfenster
                        anzuzeigen. Klicken Sie auf das gewünschte Stockwerk (z.B. OG04 = viertes Obergeschoss), um die
                        auf
                        diesem Stockwerk liegenden Räume anzuzeigen.</p>
                </div>
                <div class="span5">

                    <h2>Zoomleiste</h2>
                    <p><img src="{% static "homepage/img/zoombuttons.jpg" %}"
                            alt="navigation slider to zoom and pan">
                      Durch Klicken auf das Plus- oder das Minussymbol können Sie den Kartenausschnitt
                        vergrößern oder verkleinern. </p>


                    <!--            <h2>Menüfunktionen</h2>
                                    <p>Dieser Kartenausschnitt stellt Ihnen mehrere Menüfunktionen zur Verfügung. Derzeit befinden Sie sich im Menüpunkt „Hilfe“. Unter dem Menüpunkt „Zum Campus“ finden Sie einen Anfahrtsplan. Als Transportmittel könne Sie zwischen den Verkehrsmitteln Auto, Bus, Bahn, Flugzeug, S-Bahn sowie Taxi wählen. Die Navigation sowie das Zoomen funktionieren analog zur Basiskarte. Der Anfahrtsplan weist ebenfalls die Zoomleiste auf, welche es Ihnen ermöglicht, die Zoomstufe zu verändern. Im Menüpunkt „Karte“ befinden sich die Untermenüpunkte „Suche“ (Raumsuche und kürzester Weg zwischen zwei Räumen) und „POIs“ (Points of Interst am Campus).</p>-->


                    

                    <h2>Verlinkung</h2>
                    <p>
                        Es können direkte Links zu Räumen oder gewissen Punkten ("POIs") erzeugt werden. Der Erzeugung
                        dieser Links ist einfach, Sie müssen nur in der Webadresse eine eindeutige Raumnummer oder einen
                        eindeutigen POI-Namen übergeben, z.B.:</p>

                    <ul>
                        <li><a href="https://campus.wu.ac.at/?q=TC.0.02">https://campus.wu.ac.at/?q=TC.0.02</a>
                        </li>
                        <li><a href="https://campus.wu.ac.at/?q=D2%20Entrance%20C">https://campus.wu.ac.at/?q=D2%20Entrance%20C </a>
                        </li>
                    </ul>

                    <p>
                    Wenn der Suchbegriff hinter "q=" nicht eindeutig ist, wird eine Liste mit den Suchergebnissen
                    angezeigt, z.B.: <a href="https://campus.wu.ac.at/q=Self-service Terminals">https://campus.wu.ac.at/q=Self-service
                    Terminals</a>.
                    </p>
                    <p>
                        Zusätzlich können Sie mit weiteren Parametern die Zoom-Stufe, das linke Menü, das horizontale
                        Menü
                        sowie die Anzeige des Footer beeinflussen:
                    <ul>
                        <li><strong>Zoomstufe:</strong> Die maximale Zoomstufe beträgt 22. Bei eindeutigen Suchbegriffen
                            wird automatisch die Zoomstufe 18 verwendet. Eine andere Zoomstufe erzeichen Sie durch den
                            Zusatz <strong>"zlevel=Zoomlevel"</strong>, z.B.: <a
                                    href="https://campus.wu.ac.at/?campus=1&q=TC.0.02&zlevel=22">https://campus.wu.ac.at/?campus=1&q=TC.0.02&zlevel=22</a>
                        </li>
                        <li><strong>Ausblenden von Menü, Header oder Footer für iFrame-Einbettung:</strong>
                            <ul>
                        <li>Ausblenden des Headers: <a href="https://campus.wu.ac.at/?campus=1&hide-top=true">https://campus.wu.ac.at/?campus=1&hide-top=true</a>
                        </li>
                        <li>Ausblenden des linken Menüs: <a href="https://campus.wu.ac.at/?campus=1&hide-left=true">https://campus.wu.ac.at/?campus=1&hide-left=true</a>
                        </li>
                        <li>Ausblenden des Footers: <a href="https://campus.wu.ac.at/?campus=1&hide-footer=true">https://campus.wu.ac.at/?campus=1&hide-footer=true</a>
                        </li>
                        <li>Ausblenden von Header, Footer und Menü: <a href="https://campus.wu.ac.at/?campus=1&hide-top=true&hide-left=true&hide-footer=true">https://campus.wu.ac.at/?campus=1&hide-top=true&hide-left=true&hide-footer=true</a>
                        </li>


                        </li>
                    </ul>
                    </ul>
                    </p>
                    <p>
                        Es ist auch möglich, direkte Links auf bestimmte Routen zu erstellen. Dazu müssen Sie nur nach
                        Erzeugung einer Route in "Campus" auf den Button <strong>"Route teilen"</strong> klicken und
                        können
                        aus dem darunterliegenden Textfeld den Url für die Route kopieren. Wichtig ist dabei jedoch,
                        dass
                        der Start- und Endpunkt der Route (im Url: "routeStart" und "routeEnd") eindeutig sind.
                    </p>


                </div>


                <!--        <div class="span6">
                            <h2>Überlagerung mit einem Satellitenfoto</h2>
                            <p>Diese im rechten oberen Abschnitt platzierte Funktion bietet Ihnen die Möglichkeit, die Karte mit einem Satellitenbild zu überlagern. Abhängig von der Position des Schiebers werden entweder nur die Karte, nur das Satellitenbild oder beide im Kartenfenster angezeigt.</p>
                        </div>-->

            </div><!-- close class row fluid -->
        </div><!-- close class row fluid -->
        <!-- /b3k_sidebar -->

        </div><!--footwrap-->

    </main>


{% endblock %}

{% block modal-popups %} {% endblock modal-popups %}
{% block popup-markup %} {% endblock popup-markup %}


{% block footer %}{% include "indrz-footer.html" %}{% endblock footer %}

