{% load staticfiles %}
{% load i18n %}

<header id="top">

    <nav class="nav-meta">
        <div class="container-fluid">
        <div class="nav-left">
            <ul>
                <li class="logo-container"><a href="http://campus.wu.ac.at/">
                    <img id="wulogo" src="{% static "homepage/wu-neu/sitelogo-md.png" %}" class="logo" alt=""></a></li>
                <!--li class="brandname slideout"><a>CAMPUS</a></li-->
                <li class="active" style="background: #009bb8;"><a href="{% url "map_home" %}">{% trans "Map" %}</a></li>
                <li ><a href="{% url "help" %}">{% trans "Help" %}</a></li>
            </ul>
        </div>

        <div class="nav-right">

            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info for "en" as lang_en %}
            {% get_language_info for "de" as lang_de %}


            <ul>


            <li style="text-align: center; ">
                <form name="setLang{{ lang.1}}" action="{% url 'set_language' %}" method="POST">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="/" />
                    <input type="hidden" name="language" value="{% if LANGUAGE_CODE == "en" %}de{% else %}en{% endif %}" />
                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{% if LANGUAGE_CODE == "en" %}{{ lang_de.name_local }}{% else %}{{ lang_en.name_local }}{% endif %}</a>
                </form>
            </li>


{#                <li class="dropdown user user-menu">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <i class="fa fa-language"></i>#}
{#                        <span> {{ LANGUAGE_CODE }} <i class="caret"></i></span>#}
{#                    </a>#}
{##}
{#                    <ul class="dropdown-menu " style="background: #0e0e0e;">#}
{#                        {% for lang in LANGUAGES %}#}
{#                            <li style="text-align: center; ">#}
{#                                <form name="setLang{{ lang.1}}" action="{% url 'set_language' %}" method="POST">#}
{#                                    {% csrf_token %}#}
{#                                    <input name="next" type="hidden" value="/" />#}
{#                                    <input type="hidden" name="language" value="{{ lang.0 }}" />#}
{#                                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>#}
{#                                </form>#}
{#                            </li>#}
{#                        {% endfor %}#}
{##}
{##}
{#                    </ul>#}
{#                </li>#}

                <li class="slideout" id="quicklinksLink"><a>{% trans "Quicklinks" %} <i class="fa fa-plus wu-blue"></i></a></li>
            </ul>
        </div>
            </div>
    </nav>
</header>

<!--
  Navigation end
-->

<!--
  Quicklinks start
-->
<div id="quicklinks-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 tiles">
                <ul class="row">
                    <li class="col-md-6">
                        <a href="http://learn.wu.ac.at/">
                            <h5>Learn@WU</h5>
                            <ul>
                                <li>Lernmaterialien</li>
                                <li>Tools für den Unterricht</li>
                                <li>Termine, Fristen &amp; Aufgaben</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://bach.wu.ac.at/z/stud/acl_users/cookie/login_form?came_from=https%3A//bach.wu.ac.at/z/stud/digidoc/">
                            <h5>Online-Services für Studierende</h5>
                            <ul>
                                <li>Download von digitalen Dokumenten</li>
                                <li>Rückmeldung</li>
                                <li>Änderung persönlicher Daten</li>
                                <li>Student Rankings</li>
                                <li>uvm.</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://https//lpis.wu.ac.at/lpis">
                            <h5>LV- und Prüfungsinfo (LPIS)</h5>
                            <ul>
                                <li>An- und Abmeldung zu LVs und Prüfungen</li>
                                <li>Noteneinsicht</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://controlpanel.wu.ac.at/">
                            <h5>Control Panel</h5>
                            <ul>
                                <li>Maildienste</li>
                                <li>WU Passwort &amp; PIN</li>
                                <li>SMS Service</li>
                            </ul>
                        </a>
                    </li>
                    <li class="col-md-6">
                        <a href="http://vvz.wu.ac.at/cgi-bin/vvz.pl">
                            <h5>Vorlesungsverzeichnis (VVZ)</h5>
                            <ul>
                                <li>Termine</li>
                                <li>Inhalte der Lehr­ver­an­stal­tungen</li>
                                <li>Beur­tei­lungs­kri­te­rien</li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="quicklinks">
                    <li><a href="https://wu.ac.at/bibliothek/">Bibliothek</a></li>
                    <li><a href="http://campus.wu.ac.at/">Campus Plan</a></li>
                    <li>
                        <a href="https://wu.ac.at/universitaet/organisation/akademische-einheiten/departments-institute/">Institute
                            &amp; Departments</a></li>
                    <li><a href="https://wu.ac.at/studierende/study-service-center/">Study Service Center</a></li>
                    <li><a href="http://bach.wu.ac.at/d/directory/">Telefonverzeichnis</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--
  Quicklinks end
-->