{% load i18n %}
{% load staticfiles %}

{% if hide_left == "false" %}
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10" style="padding-left: 0;">

{% else %}
    <div>
{% endif %}

<div class="row">
    <div id="map" class=" indrz-map-container">

        {% block floor-change-float %}



        {% endblock floor-change-float %}

        <div id="map-block"></div>

        {% block indrz-logo-imgt %}

            <div class="indrz-logo">

                <a href="http://www.indrz.com" target="_blank"><img id="indrz-logo"
                        src="{% static "img/indrz-powered-by-90px.png" %}"/></a>

            </div>

        {% endblock indrz-logo-imgt %}

        {% block background-base-changer %}

            <div class="indrz-floor-changer-float">
                <select class="sm-floor-changer form-control hidden-md hidden-lg" id="floor-links-select"></select>
                <ul class="list-group visible-md-block visible-lg-block" id="floor-links"></ul>
            </div>



            <div id="id-map-switcher-widget">
                <button id="id-map-switcher" class="btn btn-info">
                    {% trans 'Satellite' %}
                </button>
            </div>

        {% endblock background-base-changer %}

        <div id="zoomToCampusBase" class="indrz-toolbar">
            <a id="id-zoom-to-campus" class="btn btn-primary" data-placement="bottom" title="{% trans 'Zoom to Campus' %}"><i
                    class="fas fa-home" aria-hidden="true"></i></a>
            <a id="id-share-map" class="btn btn-primary" data-toggle="modal" data-target="#ShareMapModal"
               data-placement="bottom" title="{% trans 'Share Map' %}"><i class="fas fa-share-square"
                                                                       aria-hidden="true"></i></a>
            <a id="id-export-png" href="#" class="btn btn-primary" data-placement="bottom"
               title="{% trans 'Download Image' %}"><i class="far fa-image"></i></a>
            <a id="id-export-pdf" href="#" class="btn btn-primary" data-placement="bottom"
               title="{% trans 'Download PDF' %}"><i class="far fa-file-pdf"></i></a>
        </div>


    </div>


</div>
</div>


<script>

</script>