<nav class="indrz-context-menu">
  <ul class="indrz-context-menu__items">
    <li class="indrz-context-menu__item">
      <a href="#" class="indrz-context-menu__link">
        <i class="fa fa-eye"></i> Set Start Here
      </a>
    </li>
    <li class="indrz-context-menu__item">
      <a href="#" class="indrz-context-menu__link">
        <i class="fa fa-edit"></i> Set End Here
      </a>
    </li>
    <li class="indrz-context-menu__item">
      <a href="#" class="indrz-context-menu__link">
        <i class="fa fa-times"></i> Clear Route
      </a>
    </li>
  </ul>
</nav>