{% load i18n %}
<div id="ShareMapModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content indrz-modal-share">
            <div class="modal-header indrz-modal-share">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fas fa-share-square fa-fw"></i>{% trans "Share map" %}</h4>
            </div>
                <div class="modal-body">
                <p>
                    <code id="popup-link">
                        <textarea id="textAreaShareMap" class="share-link text-left" placeholder="here is the link static hard coded" > </textarea>
                    </code>
                </p>
            </div>

            <div class="modal-footer">
                <p>{% trans "Simply copy" %}<code>{% trans "CTRL + c" %}</code> {% trans "then paste" %}<code>{% trans "CTRL + v" %}</code></p>
                <a class="btn btn-primary" href="#" data-dismiss="modal"> {% trans "Close" %}</a>
            </div>
        </div>

    </div>
</div>

<div id="ShareSearchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content indrz-modal-share">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fas fa-share-square fa-fw"></i>{% trans "Share search results" %}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <code id="popup-link">
                        <textarea id="textAreaShareSearch" class="share-link text-left" placeholder="here is the link static hard coded" > </textarea>
                    </code>
                </p>
            </div>
            <div class="modal-footer">
                <p>{% trans "Simply copy" %}<code>{% trans "CTRL + c" %}</code> {% trans "then paste" %}<code>{% trans "CTRL + v" %}</code></p>
                <a class="btn btn-primary" href="#" data-dismiss="modal"> {% trans "Close" %}</a>
            </div>
        </div>

    </div>
</div>

<div id="ShareRouteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content indrz-modal-share">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fas fa-share-square fa-fw"></i>{% trans "Share route results" %}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <code id="popup-link">
                        <textarea id="textAreaShareRoute" class="share-link text-left" placeholder="here is the link static hard coded"> </textarea>
                    </code>
                </p>
            </div>
            <div class="modal-footer">
                <p>{% trans "Simply copy" %}<code>{% trans "CTRL + c" %}</code> {% trans "then paste" %}<code>{% trans "CTRL + v" %}</code></p>
                <a class="btn btn-primary" href="#" data-dismiss="modal"> {% trans "Close" %}</a>
            </div>
        </div>

    </div>
</div>

<div id="SharePoiModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content indrz-modal-share">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fas fa-share-square fa-fw"></i>{% trans "Share POI" %}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "Share the POI" %}
                    <code id="popup-link" style="background-color: transparent;">
                        <textarea rows="1" cols="50" id="textAreaShareRoute" class="share-link-single-poi text-left" placeholder="here is the link static hard coded"> </textarea>
                    </code>
                </p>

                <p>{% trans "Share the POI category" %}
                    <code id="popup-link-poi-single" style="background-color: transparent;">
                        <textarea rows="1" cols="50" id="textAreaShareSinglePoi" class="share-link text-left" placeholder="here is the link static hard coded"> </textarea>
                    </code>
                </p>
            </div>
            <div class="modal-footer">
                <p>{% trans "Simply copy" %}<code>{% trans "CTRL + c" %}</code> {% trans "then paste" %}<code>{% trans "CTRL + v" %}</code></p>
                <a class="btn btn-primary" href="#" data-dismiss="modal"> {% trans "Close" %}</a>
            </div>
        </div>

    </div>
</div>

<div id="ShareBookModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content indrz-modal-share">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-share-square fa-fw"></i>{% trans "Share" %}</h4>
            </div>
            <div class="modal-body">
                <p>
                    <code id="popup-link">
                        <textarea id="textAreaShareSearch" class="share-link text-left" placeholder="here is the link static hard coded" > </textarea>
                    </code>
                </p>
            </div>
            <div class="modal-footer">
                <p>{% trans "Simply copy" %}<code>{% trans "CTRL + c" %}</code> {% trans "then paste" %}<code>{% trans "CTRL + v" %}</code></p>
                <a class="btn btn-primary" href="#" data-dismiss="modal"> {% trans "Close" %}</a>
            </div>
        </div>

    </div>
</div>