{% load i18n %}
<div id="indrz-popup" title="indrz info" class="ol-popup indrz-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
    <div id="popup-links" >

        <a id="routeFromHere" style="color:#5bc0de; cursor:pointer;"><i class="fas fa-map-marker fa-fw"></i>{% trans "Route from here" %}</a><br>
        <a id="routeToHere" style="color:#5bc0de; cursor:pointer;"><i class="fas fa-map-marker fa-fw"></i>{% trans "Route to here" %}</a><br><br>
{##}
{#        <a id="routeFromBuildingEntrance" class="btn btn-info" href="#" data-placement="top" title="{% trans 'Route from entrance' %}"><i class="fas fa-map-signs fa-fw"></i>{% trans "Entrance" %}</a>#}
{#        <a id="routeFromTrain" class="btn btn-info" href="#" data-placement="top" title="{% trans 'Route from Metro' %}"><i class="fas fa-map-signs fa-fw"></i>{% trans "Metro" %}</a>#}
{#        <a id="routeToDefi" class="" href="#" data-placement="top" title="{% trans 'Route to Defi' %}"><img src="/static/homepage/img/defi.png" alt="POI" style="height: 29px; width: 29px; margin-bottom: 5px;"></a>#}

        <a id="shareSearchPopup" href="#ShareModal" class = "btn btn-primary" data-toggle="modal" data-target="#ShareSearchModal" data-placement="top" title="{% trans 'Share' %}"><i class="fas fa-share fa-fw"></i></a>

    </div>

</div>
