{% load i18n %}


<div id="search-prefetch2" style="padding-bottom: 15px;">

    <form role="form" id="submitFormSearch">
        <div class="row">
            <div class="col-xs-12 searchbox-wu">

                <div class="input-group input-group-sm">
                    <label for="searchField" class="sr-only">{% trans "Search Term" %}</label>

                    <input type="text" class="form-control" id="search-input"
                           placeholder="{% trans "search our campus" %}"/>
                    <div class="input-group-btn">
                        <button id="enterSearchGoButton" type="submit" class="btn btn-primary"
                                style="margin-left:4px;">{% trans "Go!" %}</button>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
                <p>{% trans "Find people, places, organizations..." %}</p>
            </div><!-- /.col-xs-12 -->
        </div><!-- /.row -->

        <div id="searchTools" class="indrz-search-tools ">

            <a id="shareSearch" href="#ShareModal" class="btn btn-primary indrz-search-box hide" data-toggle="modal"
               data-target="#ShareSearchModal" data-placement="top" title="{% trans 'Share' %}"><i
                    class="fas fa-share fa-fw"></i> </a>
            <a id="clearSearch" class="btn btn-primary indrz-search-box hide" href="#" data-placement="top"
               title="{% trans 'Clear Results' %}"><i class="fas fa-times"></i></a>

        </div>
    </form>


    {#    <form id="submitFormSearch">#}
    {#      <div class="form-group">#}
    {##}
    {##}
    {#        <label for="searchField" class="sr-only" >{% trans "Search Term" %}</label>#}
    {##}
    {#          <input type="text" class="form-control" id="search-input" placeholder="{% trans "Search people, places, organisations..." %}">#}
    {#                      <input id="enterSearchGoButton" type="submit" class="btn btn-primary indrz-search-box" value="{% trans "Go!" %}">#}
    {##}
    {##}
    {#      </div>#}
    {#        <div id="searchTools" class="indrz-search-tools " >#}
    {##}
    {#            <a id="shareSearch" href="#ShareModal" class = "btn btn-primary indrz-search-box hide" data-toggle="modal" data-target="#ShareSearchModal" data-placement="top" title="{% trans 'Share' %}" ><i class="fas fa-share fa-fw"></i> </a>#}
    {#            <a id="clearSearch" class="btn btn-primary indrz-search-box hide" href="#" data-placement="top" title="{% trans 'Clear Results' %}"><i class="fas fa-sync fa-fw"></i></a>#}
    {##}
    {#        </div>#}
    {#    </form>#}


    <div id="search-res" class="panel panel-default hide ">
        <div class="panel-heading">{% trans "Search Results" %}</div>
        <div class="panel-body" style="padding:9px;">

            <div id="search-results-list" class="list-group ">


            </div>


        </div>
    </div>

    {#         <div id="search-res" class="panel panel-default hide">#}
    {#        <div class="panel-heading">{% trans "Search Results" %}</div>#}
    {#        <div class="panel-body">#}
    {##}
    {#        <div id="search-results-list" >#}
    {#            <table id="resTable" class="table table-condensed table-hover">#}
    {#                  <tr>#}
    {#                    <th>{% trans "Result" %}</th>#}
    {#                    <th>{% trans "Floor" %}</th>#}
    {##}
    {#                  </tr>#}
    {##}
    {#            </table>#}
    {##}
    {##}
    {##}
    {#        </div>#}
    {##}
    {##}
    {#      </div>#}
    {#    </div>#}

</div>


{% include 'modal-bugreport.html' %}
{% include 'modal-share.html' %}

{#            <form class="form form-inline" id="submitFormSearch">#}
{#                 <div class="form-group form-group-sm">#}
{##}
{#                        <input type="text" class="form-control" id="search-input" placeholder="{% trans "Search for ..." %}">#}
{#                        <input id="enterSearch" type="submit" class="btn btn-primary " href="#" value="{% trans "Go!" %}">#}
{##}
{#                        <span class="input-group-btn">#}
{##}
{##}
{#                              <a id="clearSearch" class="btn btn-primary hide " href="#"><i class="fas fa-sync fa-fw"></i></a>#}
{##}
{#                              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i#}
{#                                      class="fa fa-cog fa-fw"></i>#}
{#                                  <span class="fa fa-caret-down"></span></a>#}
{##}
{#                              <ul class="dropdown-menu">#}
{#                                  <li><a href="#ShareModal" data-toggle="modal" data-target="#ShareSearchModal"><i#}
{#                                          class="fas fa-share fa-fw"></i> {% trans "Share" %}</a></li>#}
{##}
{#                                  <li><a href="#"><i class="fas fa-map-marker fa-fw"></i> {% trans "GPS" %}</a></li>#}
{#                                  <li><a href="#"><i class="fa fa-language"></i>  {{ LANGUAGE_CODE|upper }}</a></li>#}
{##}
{#                                  <li><a href="#"><i class="fas fa-map-signs fa-fw"></i> {% trans "Directions" %}</a></li>#}
{#                                  <li><a href="#"><i class="fa fa-print fa-fw"></i> {% trans "Print" %}</a></li>#}
{#                                  <li id="clear-search-results"><a href="#"><i#}
{#                                          class="fas fa-sync fa-fw"></i> {% trans "Clear" %}</a>#}
{#                                  </li>#}
{#                                  <li id="id-fullscreen"><i class="fa fa-expand fa-fw"></i></li>#}
{#                                  <li class="divider"></li>#}
{#                                  <li><a href="#"><i class="fa fa-info fa-fw"></i> {% trans "Info" %}</a></li>#}
{#                                  <li><a href="#BugModal" data-toggle="modal" data-target="#BugReportModal"><i#}
{#                                          class="fa fa-bug fa-fw"></i>{% trans "Report Bug" %}</a></li>#}
{#                              </ul>#}
{#                          </span>#}
{##}
{#                   </div>#}
{#            </form>#}




