{% load mptt_tags %}
{% load static %}
{% load i18n %}






   <div id="indrzPoiTree" style="overflow: auto; height:500px; padding-top: 5px;"></div>

    <link src="{% static "poi/poiTreeStyle.css" %}" type="text/css">
{#  	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js" type="application/javascript"></script>#}
  	<script src="{% static "js/bootstrap-treeview.min.js" %}" type="application/javascript"></script>
   	<script src="{% static "poi/indrzPoiTree.js" %}" type="text/javascript"></script>


