{% load i18n %}

{% trans "82a bus stop Krieau" %}
{% trans "82a bus stop Messe Prater" %}
{% trans "AD Entrance A" %}
{% trans "AD Entrance B" %}
{% trans "AD Entrance C" %}
{% trans "Aerobic room" %}
{% trans "Archiv/Drucker" %}
{% trans "AR/Portier optional" %}
{% trans "Assembly point AD" %}
{% trans "Assembly point D1" %}
{% trans "Assembly point D2" %}
{% trans "Assembly point D3" %}
{% trans "Assembly point D4" %}
{% trans "Assembly point D5" %}
{% trans "Assembly point EA" %}
{% trans "Assembly point LC" %}
{% trans "Assembly point SC" %}
{% trans "Assembly point TC" %}
{% trans "Aula" %}
{% trans "Aula Stud Lounges" %}
{% trans "Automatenaufstellung/Verkauf" %}
{% trans "Baby's changing table" %}
{% trans "Bakery Anker" %}
{% trans "Ball sports hall" %}
{% trans "Bank machine" %}
{% trans "Barrier-free WC" %}
{% trans "Basketball" %}
{% trans "Berndorf Library for Business Languages" %}
{% trans "Bike parking" %}
{% trans "Bike parking covered R1" %}
{% trans "Bike parking covered R2" %}
{% trans "Bike parking covered R3" %}
{% trans "Bike parking covered R4" %}
{% trans "Buchbinderei" %}
{% trans "Cafeteria" %}
{% trans "Cafeteria-Anrichte" %}
{% trans "Cafeteria/Buffet" %}
{% trans "Change room" %}
{% trans "Change Room" %}
{% trans "COMIDA y Luz" %}
{% trans "COMIDA y Pan" %}
{% trans "Communicative atudy area" %}
{% trans "Communicative study area" %}
{% trans "Company medical officer" %}
{% trans "Computer desks" %}
{% trans "Computer rooms" %}
{% trans "Copier / Scanner" %}
{% trans "Copy and Scan" %}
{% trans "Copy/Kopierer" %}
{% trans "Copy Machine" %}
{% trans "Copy Room" %}
{% trans "D1 Entrance" %}
{% trans "D2 Entrance A" %}
{% trans "D2 Entrance B" %}
{% trans "D2 Entrance C" %}
{% trans "D2 Entrance D" %}
{% trans "D2 Entrance E" %}
{% trans "D3 Entrance D" %}
{% trans "D3 Entrance E" %}
{% trans "D3 Entrance F" %}
{% trans "D4 Entrance A" %}
{% trans "D4 Entrance B" %}
{% trans "D5 Entrance" %}
{% trans "Defibrillator" %}
{% trans "Delivery" %}
{% trans "EA Entrance" %}
{% trans "Eingangshalle Bibliothek" %}
{% trans "ELSA WU" %}
{% trans "Emergency telephone" %}
{% trans "Entrance OMV Library" %}
{% trans "Entrance underground parking" %}
{% trans "Event Room - Aula" %}
{% trans "Event Room - Festsaal1" %}
{% trans "Event Room - Festsaal2" %}
{% trans "Event Room - Foyer" %}
{% trans "Event Room - Garderobe" %}
{% trans "Event Room - Stuhllage" %}
{% trans "Event Room-Stuhllager" %}
{% trans "Fitness center lobby" %}
{% trans "Fitness room" %}
{% trans "Front Office" %}
{% trans "Front Office Business, Employment and Social Security Law" %}
{% trans "Front Office Economics" %}
{% trans "Front Office Finance, Accounting and Statistics" %}
{% trans "Front Office Foreign Language Business Communication" %}
{% trans "Front Office Global Business and Trade" %}
{% trans "Front Office Information Systems and Operations" %}
{% trans "Front Office International Office" %}
{% trans "Front Office IT-Services" %}
{% trans "Front Office Management" %}
{% trans "Front Office Marketing" %}
{% trans "Front Office ÖH" %}
{% trans "Front Office Public Law and Tax Law" %}
{% trans "Front Office Raiffeisen Language Resource Center" %}
{% trans "Front Office Socioeconomics" %}
{% trans "Front Office Strategy and Innovation" %}
{% trans "Front Office Web & New Media" %}
{% trans "Front Office WU Alumni Club" %}
{% trans "Front Office WU Executive Academy" %}
{% trans "Front Office ZBP" %}
{% trans "HT Supermarkt" %}
{% trans "Information" %}
{% trans "Infoterminal AD 1" %}
{% trans "Infoterminal AD 2" %}
{% trans "Infoterminal D1 1" %}
{% trans "Infoterminal D1 2" %}
{% trans "Infoterminal D2 A 1" %}
{% trans "Infoterminal D2 A 2" %}
{% trans "Infoterminal D2 B 1" %}
{% trans "Infoterminal D2 B 2" %}
{% trans "Infoterminal D2 C 1" %}
{% trans "Infoterminal D2 C 2" %}
{% trans "Infoterminal D2 D 1" %}
{% trans "Infoterminal D2 D 2" %}
{% trans "Infoterminal D3 E 1" %}
{% trans "Infoterminal D3 E 2" %}
{% trans "Infoterminal D3 F 1" %}
{% trans "Infoterminal D3 F 2" %}
{% trans "Infoterminal D4 A 1" %}
{% trans "Infoterminal D4 A 2" %}
{% trans "Infoterminal D4 B 1" %}
{% trans "Infoterminal D4 B 2" %}
{% trans "Infoterminal D5 1" %}
{% trans "Infoterminal D5 2" %}
{% trans "Infoterminal EA 1" %}
{% trans "Infoterminal EA 2" %}
{% trans "Infoterminal LC 1" %}
{% trans "Infoterminal LC 2" %}
{% trans "Infoterminal TC 1" %}
{% trans "Infoterminal TC 2" %}
{% trans "infrastructure" %}
{% trans "IT Support Center" %}
{% trans "Journals" %}
{% trans "Kindergarten" %}
{% trans "Kommunikation/Pausenraum" %}
{% trans "Kompaktmagazin Zeitschriften" %}
{% trans "Kopierer/Archiv" %}
{% trans "Kopier FO" %}
{% trans "Kopierraum?" %}
{% trans "LC Entrance" %}
{% trans "Library" %}
{% trans "Library Cafe & Roastery" %}
{% trans "Library for Law" %}
{% trans "Library for Social Sciences" %}
{% trans "Library (Info/Returns)" %}
{% trans "Library information" %}
{% trans "Library Loans" %}
{% trans "Loading yard" %}
{% trans "Lobby" %}
{% trans "Locker" %}
{% trans "Lounge" %}
{% trans "Management Book Service" %}
{% trans "Meetingraum/Besprechung" %}
{% trans "Meeting Room" %}
{% trans "Meet up point" %}
{% trans "Memorial" %}
{% trans "Mensa" %}
{% trans "Mens WC" %}
{% trans "Newspapers" %}
{% trans "None" %}
{% trans "P1" %}
{% trans "P2" %}
{% trans "P3" %}
{% trans "P4" %}
{% trans "Parking motorbike" %}
{% trans "Ping pong" %}
{% trans "Portier D3 AD" %}
{% trans "Portier  D4" %}
{% trans "Portier EA" %}
{% trans "Poststelle" %}
{% trans "Printer" %}
{% trans "Printer Corner" %}
{% trans "Printer Room" %}
{% trans "Public WC" %}
{% trans "Quiet room" %}
{% trans "Quiet Room" %}
{% trans "Quiet room / First aid" %}
{% trans "Ramp" %}
{% trans "Reading area" %}
{% trans "Reading area mezzanine" %}
{% trans "Reading desks" %}
{% trans "Reception Rectorate" %}
{% trans "Reference Collection" %}
{% trans "Research/Reading desks" %}
{% trans "Restaurant "Das Campus"" %}
{% trans "Restaurant "Nykke"" %}
{% trans "Ruheraum" %}
{% trans "Ruheraum / Sanitätsraum" %}
{% trans "RVK Classification OG 05" %}
{% trans "RVK Classification OG 06" %}
{% trans "Scanner" %}
{% trans "SC Eingang F" %}
{% trans "SC Eingang G" %}
{% trans "Search terminal" %}
{% trans "Search Terminal" %}
{% trans "Selfcheckout" %}
{% trans "Self checkout" %}
{% trans "Self-Checkout" %}
{% trans "Self study area" %}
{% trans "Self study zone/General learning" %}
{% trans "Service desk" %}
{% trans "Shop 1/Verkaufsraum" %}
{% trans "Shop 2/Verkaufsraum" %}
{% trans "Shower" %}
{% trans "Shower/Washroom" %}
{% trans "Sitting area" %}
{% trans "Spar supermarket" %}
{% trans "Special collection Kurt W Rothschild and Josef Steindl" %}
{% trans "Spez Bib. Fremdsprachen Erschl." %}
{% trans "Spez. Bib. Fremdspr./Research" %}
{% trans "Spez Bibliothek Fremdsprachen A" %}
{% trans "Spez Bibliothek Fremdsprachen C" %}
{% trans "Studierendenbücherei" %}
{% trans "Study area" %}
{% trans "Study Area" %}
{% trans "Study Service Center (SSC)" %}
{% trans "Surfstation (ByteBar)" %}
{% trans "Taxi meetingpoint" %}
{% trans "Taxi stand" %}
{% trans "TC Entrance" %}
{% trans "Telephone Booth" %}
{% trans "Telephone zone" %}
{% trans "Test Terminal" %}
{% trans "Textbook collection" %}
{% trans "Textbook Collection" %}
{% trans "Toilet" %}
{% trans "Tresen Cafe" %}
{% trans "Trinkbrunnen" %}
{% trans "Umkleide Cafe" %}
{% trans "Underground station Krieau" %}
{% trans "Underground station Messe Prater" %}
{% trans "Vending machine" %}
{% trans "Vending Machine" %}
{% trans "Vending Machine/Sales" %}
{% trans "VIP/Speisesaal" %}
{% trans "Women WC" %}
{% trans "Workstation" %}
{% trans "WU Shop" %}
