{% load i18n %}

{% trans "Safety & Security" %}
{% trans "Access" %}
{% trans "Facilities" %}
{% trans "Public Infrastructure" %}
{% trans "unknown" %}
{% trans "Education" %}
{% trans "Sport" %}
{% trans "Sights" %}
{% trans "Mens WC" %}
{% trans "Barrierfree WC" %}
{% trans "Womens WC" %}
{% trans "Public WC" %}
{% trans "Grocery" %}
{% trans "Bookstore" %}
{% trans "Restaurant" %}
{% trans "Vending Machine" %}
{% trans "Cafe - Snack" %}
{% trans "Self Checkout" %}
{% trans "Computer Desks" %}
{% trans "Information" %}
{% trans "Library Location" %}
{% trans "Quiet Room" %}
{% trans "Scanner" %}
{% trans "Search Terminal" %}
{% trans "Telephone Zone" %}
{% trans "Bus" %}
{% trans "Underground" %}
{% trans "Delivery" %}
{% trans "Entrance Underground Parking" %}
{% trans "P2" %}
{% trans "P3" %}
{% trans "P4" %}
{% trans "Bike Covered" %}
{% trans "Motor Bike" %}
{% trans "Bike" %}
{% trans "P1" %}
{% trans "Meeting Point" %}
{% trans "Company Medical Officer" %}
{% trans "Quiet Room -  First Aid" %}
{% trans "Emergency Telephone" %}
{% trans "Bank Machine" %}
{% trans "Locker" %}
{% trans "Copy Machines" %}
{% trans "Change Rooms" %}
{% trans "Other" %}
{% trans "Toilet" %}
{% trans "Food" %}
{% trans "Shop" %}
{% trans "Library" %}
{% trans "Study Area" %}
{% trans "Computer Room" %}
{% trans "Surf Station" %}
{% trans "Self Service Terminal" %}
{% trans "Front Office" %}
{% trans "Front Office Web & New Media" %}
{% trans "Ramp Up" %}
{% trans "Parking" %}
{% trans "Entrance" %}
{% trans "Info Terminal" %}
{% trans "Taxi" %}
{% trans "Taxi Meeting Point" %}
{% trans "Public Transport" %}
{% trans "Info Point" %}
