{% load mptt_tags %}
{% load i18n %}
<ul id="poitree_id">
    {% recursetree nodes %}
        <li data-jstree='{"icon":"{{ node.icon_css_name }}"}' id="catid_{{ node.id }}"{% if node.icon_css_name %}{% endif %}>
            {% trans node.cat_name %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                   {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

<p>
    <a href="/poi/add_category"> go add a new category</a>
</p>