{% load i18n %}

<form class="form-inline" action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}"/>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <select name="language" class="btn btn-default form-control">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"
                            {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="btn-group" role="group">
            <button class="btn btn-default" type="submit">{% trans 'Change language' %}</button>
        </div>
    </div>
</form>