django == 3.1.5
django-mptt==0.10.0
django-rosetta==0.9.5
django-taggit==1.1.0
django-cors-headers==3.1.0
djangorestframework_gis==0.16
djangorestframework==3.12.2

geojson == 2.5.0
psycopg2-binary == 2.8.3
requests == 2.25.1
python-dotenv==0.15.0
sentry-sdk==0.14.1
pandas==0.25.1
pillow==8.1.0
GDAL==3.1.4


drf-yasg==1.20.0

gunicorn==20.0.4
