{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sample Map">
    <meta name="author" content="Michael Diener">
    <meta charset="UTF-8">

    <title>{% block title %}Default Title{% endblock %}</title>

    <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/ol3111.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/custom-layout.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/indrz-layout.css" %}" type="text/css">
    <script src="{% static "js/ol3.11.1.js" %}"></script>


      {% block head_extra %}{% endblock head_extra %}

</head>
<body>

        <nav class="navbar navbar-inverse navbar-fixed-top">

        {% block nav %}
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://www.indrz.com" target="_blank">indrz</a>
            </div>

          {% endblock nav %}
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">

                {% block background-switcher %}{% endblock background-switcher %}
                {% block floorswitcher %}{% endblock floorswitcher %}

                  <li><a href="https://github.com/indrz/indrz" target="_blank">{% trans "GIT Source" %}</a></li>

                  </ul>


            </div><!--/.nav-collapse -->
          </div>

        </nav>


        <div class="container-fluid">
            <div class="row">

            </div>

        </div>



{% block route_from_to %}{% endblock route_from_to %}
{% block map_frame %}{% endblock map_frame %}

{% block route_options %}{% endblock route_options %}

{% block footer %}{% endblock footer %}

{% block body %}{% endblock body %}



</body>
</html>