{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sample Map">
    <meta name="author" content="Michael Diener">
    <meta charset="UTF-8">

    <title>{% block title %}Default Title{% endblock %}</title>

    <script src="{% static "js/jquery-1.11.2.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/ol.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/custom-layout.css" %}" type="text/css">
    <script src="{% static "js/ol340.js" %}"></script>


    <style>

                html           { width:100%; height:100%; margin:0; }
                body           { width:100%; height:100%; margin:0; font-family:sans-serif; }
                #map           { width:100%; height:100%; margin:0; }
                #toolbox       { position:absolute; top:98px; right:18px; padding:3px; border-radius:4px; color:#fff; background: rgba(255, 255, 255, 0.4); z-index:100; }
                #layerswitcher { margin:0; padding:10px; border-radius:4px; background:rgba(0, 60, 136, 0.5); list-style-type:none; }

    </style>


      {% block head_extra %}{% endblock head_extra %}
</head>
<body>

        <nav class="navbar navbar-inverse navbar-fixed-top">

        {% block nav %}
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://www.indrz.com" target="_blank">indrz</a>
            </div>

          {% endblock nav %}
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">

                {% block background-switcher %}{% endblock background-switcher %}
                {% block floorswitcher %}foobarpoo{% endblock floorswitcher %}

                  <li><a href="https://github.com/indrz/indrz" target="_blank">GIT Source</a></li>

                  </ul>


            </div><!--/.nav-collapse -->
          </div>

        </nav>

            {% block indrz-switcher %}

                <div id="toolbox">
                    <ul id="layerswitcher">
                        <li><label><input type="radio" name="layer" value="0"> MapQuest Satellite</label></li>
                        <li><label><input type="radio" name="layer" value="1"> MapQuest Hybrid</label></li>
                        <li><label><input type="radio" name="layer" value="2" checked> OSM</label></li>
                        <li><label><input type="radio" name="layer" value="4" > Etage 0</label></li>
                        <li><label><input type="radio" name="layer" value="5" > Etage 01 </label></li>
                    </ul>
                </div>
            {% endblock indrz-switcher %}


        <div class="container-fluid">
            <div class="row">

            </div>

        </div>



{% block route_from_to %}{% endblock route_from_to %}
{% block map_frame %}{% endblock map_frame %}

{% block route_options %}{% endblock route_options %}

{% block body %}{% endblock body %}



</body>
</html>