{% extends "base-map.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Societe Generale indrz map{% endblock %}

{% block nav %}{% endblock %}
{% block head_extra %}

    <script src="{% static "js/bloodhound.min.js" %}"></script>
    <script src="{% static "js/typeahead.bundle.min.js" %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <style> body {
      padding-top: 0px;
    }</style>


{% endblock head_extra %}


{% block map_frame %}
    <script>  {% include 'maps/indrzMapConf.js' %} </script>
    <script>  {% include 'maps/indrzLayers.js' %} </script>
    <script>  {% include 'maps/routing.js' %} </script>
    <script>  {% include 'maps/indrz-popup.js' %} </script>
    {% if space_id > 0 and space_id != None %}
        <script>  {% include 'maps/indrz-space.js' %} </script>
    {% endif %}
{% endblock map_frame %}

{% block search_form %}
    {% include 'search-form.html' %}

{% endblock search_form %}