{% load i18n %}
{#<div class="indrz-search">#}


<div id="search-prefetch2">

    <form id="submitFormSearch">
        <div class="input-group">
            <input type="text" class="form-control" id="search-input" placeholder="{% trans "Search for ..." %}">

            <span class="input-group-btn">
                  <input id="enterSearch" type="submit" class="btn btn-default " href="#" value="{% trans "Go!" %}">
                  <a id="clearSearch" class="btn btn-primary hide " href="#"><i class="fa fa-refresh fa-fw"></i></a>

                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cog fa-fw"></i>
                      <span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                          <a href="#ShareModal" data-toggle="modal" data-target="#ShareSearchModal">
                              <i class="fa fa-share fa-fw"></i> {% trans "Share" %}
                          </a>
                      </li>

                      <li>
                          <a href="#">
                              <i class="fa fa-map-marker fa-fw"></i> {% trans "GPS" %}
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-language"></i> {{ LANGUAGE_CODE|upper }}
                          </a>
                      </li>

                      <li>
                          <a href="#">
                              <i class="fa fa-map-signs fa-fw"></i> {% trans "Directions" %}
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              <i class="fa fa-print fa-fw"></i> {% trans "Print" %}
                          </a>
                      </li>
                      <li id="clear-search-results">
                          <a href="#">
                              <i class="fa fa-refresh fa-fw"></i> {% trans "Clear" %}
                          </a>
                      </li>
                      <li id="id-fullscreen">
                          <i class="fa fa-expand fa-fw"></i>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="#"><i class="fa fa-info fa-fw"></i> {% trans "Info" %}
                          </a>
                      </li>
                      <li>
                          <a href="#BugModal" data-toggle="modal" data-target="#BugModal"><i
                                  class="fa fa-bug fa-fw"></i>{% trans "Report Bug" %}
                          </a>
                      </li>
                  </ul>
            </span>
        </div>
    </form>

</div><!-- /input-group -->


{% include 'modal-bugreport.html' %}
{% include 'modal-share.html' %}