
.draggable-handle {
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  cursor: ns-resize;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #ccc;
  position: absolute;
  background-color: #8d8d8d;
  z-index:999;
}

.draggable-handle::before {
  content: '...';
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.resizable.v-navigation-drawer--is-mobile {
  max-height: 100% !important;
}
